:root {
    --text-color: #E0E0E0;
    --background-color: #201A34;
    --block-color: #DCDCDC;
    --logos-color: #C4C4C4;
    --hover-color: #342A54;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #201A34;
    font-family: 'Montserrat', sans-serif;
}

.chat {
    display: flex;
}

.left__panel {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 600px;
    height: 100vh;
    padding: 45px 60px;
    background-color: #1B162C;
}

.form__label {
    background: linear-gradient(270deg, #B05ABF 0%, #5C27FE 100%);
    border-radius: 20px;
    color: #122dff;
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 1px;
    text-decoration: none;
    width: 100%;
    position: relative;
}

.form__input {
    background: #1B162C;
    padding: 1em 2em;
    width: 100%;
    border-radius: 20px;
    border: none;
    outline: none;
}

::placeholder {
    font-size: 13px;
    line-height: 15px;
    color: #E0E0E0;
    font-family: 'Montserrat', sans-serif;
}

input[type="text"] {
    color: #E0E0E0;
    font-family: 'Montserrat', sans-serif;
}

.form__icon {
    position: absolute;
    right: 5%;
}

.project__desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project__title {
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #E0E0E0;
    margin-bottom: 12px;
    margin-top: 25px;
}

.projects__block {
    overflow: hidden;
    background: var(--block-color);
    width: 100%;
    padding: 17px 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project__logo {
    background: var(--logos-color);
    border-radius: 50%;
    min-width: 50px;
    width: 50px;
    height: 50px;
    margin-left: 5px;
    overflow: hidden;
}

.project__logo:first-child {
    margin-left: 0;
}

.conversation__block {
    display: flex;
    align-items: center;
    background: var(--block-color);
    border-radius: 20px;
    padding: 10px 20px;
}

.conversation__block:nth-child(2) {
    margin-top: 12px;
    margin-bottom: 12px;
}

.user__image {
    background: var(--logos-color);
    width: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user__name {
    color: var(--black);
    margin-left: 15px;
    font-weight: normal;
    font-size: 16px;
}

.right__panel {
    padding: 45px 23px;
    width: 100%;
    position: relative;
}

.chat__info {
    background: var(--block-color);
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    border-radius: 20px;
    align-items: center;
}

.group__members {
    display: flex;
}

.group__item {
    background: #494343;
    width: 40px;
    height: 40px;
    margin-left: -12px;
    border-radius: 50%;
}

.helper__icons {
    display: flex;
    align-items: center;
}

.icon {
    background: var(--logos-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 8px;
}

.icon:nth-child(2) {
    margin-left: 5px;
    margin-right: 5px;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.sent__message {
    display: flex;
}

.sent__btn {
    background: linear-gradient(90deg, #5C27FE 0%, #B65EBA 100%);
    border-radius: 20px;
    margin-left: 10px;
    padding: 0 22px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.messages {
    overflow: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 70vh;
    position: relative;
}

.sent__label {
    padding: 25px;
}

.form__input {
    background: #201A34;
}

.sent__icon{
    background: transparent;
    border: none;
    outline: none;
    right: 2%;
}

.form__block {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: inherit;
}

.group__items {
    display: none;
}

.group__items.active {
    display: block;
    transition: 0.5s ease;
}

.project__desc.arrow .arrow {
    transform: rotate(180deg);
    transition: 0.2s ease;
}

.conversation__block:hover {
    background: var(--hover-color);
    transition: 0.2s ease;
}

.conversation__block:hover .user__name {
    color: var(--text-color);
    transition: 0.2s ease;
}

.messages__block {
    padding: 0;
    margin: 0;
    list-style-type: none;
    bottom: 0;
    width: 100%;
}

.chat__name {
    margin: 0;
    font-weight: normal;
    font-size: 15px;
}

.messages__sent {
    display: flex;
    margin: 30px 0;
}

.reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

.reverse .message__time {
    display: flex;
    justify-content: flex-end;
}

.message__time{
    color: var(--text-color);
    font-size: 12px;
}

.message__img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.message {
    margin: 0;
    background: #551175;
    max-width: 500px;
    border-radius: 50px;
    padding: 15px 20px;
    font-size: 15px;
    color: var(--text-color);
    line-height: 18px;
}

.reverse .message {
    background: #201E52;
}

.sent__icons {
    position: absolute;
    right: 5%;
}

@media (max-width: 1070px) {
    .left__panel {
        padding: 30px 40px;
        width: 500px;
    }

    .project__title {
        font-size: 16px;
    }

    .project__logo {
        width: 40px;
        height: 40px;
        min-width: 40px;
    }

    .user__name {
        margin: 12px ;
    }

    .right__panel {
        padding: 35px 20px;
    }

    .message__img {
        width: 40px;
        height: 40px;
    }

    .message {
        max-width: 400px;
        font-size: 12px;
    }

    .sent__label {
        padding: 20px;
    }

    .group__item {
        width: 30px;
        height: 30px;
    }

    .chat__icon {
        width: 18px;
        height: 18px;
    }

    .chat__info {
        padding: 10px 35px;
    }

    .sent__icon {
        height: 35px;
        width: 35px;
    }
}

@media (max-width: 850px) {
    .sent__btn {
        padding: 0 18px;
        margin-left: 8px;
    }

    .left__panel {
        width: 450px;
        padding: 25px 30px;
    }

    .right__panel {
        padding: 30px 15px;
    }

    .user__name {
        font-size: 14px;
    }

    .projects__block {
        padding: 15px 20px;
    }

    .message__time {
        font-size: 10px;
    }

    .form__input {
        padding: 10px 20px;
    }

    .sent__label {
        padding: 20px;
    }

    .project__title {
        margin-top: 20px;
    }

    .arrow {
        /*width: 18px;*/
        /*height: 18px;*/
    }
}

@media (max-width: 700px) {
    .left__panel {
        width: 350px;
        padding: 15px 20px;
    }

    .conversation__block {
        padding: 8px 10px;
    }

    .user__image{
        width: 35px;
        height: 35px;
        min-width: 35px;
    }

    .user__name {
        margin-top: 0;
        margin-bottom: 0;
    }

    .project__title {
        font-size: 14px;
    }

    .projects__block {
        padding: 10px 15px;
    }
}

@media (max-width: 620px) {
    .right__panel {
        padding: 20px 15px;
    }
    .chat__info {
        padding: 10px 20px;
    }

    .sent__icon {
        width: 30px;
        height: 30px;
    }

    ::placeholder {
        font-size: 11px;
    }

    .project__logo {
        width: 35px;
        height: 35px;
        min-width: 35px;
    }


    .user__name {
        font-size: 12px;
    }
}

.burger {
    display: none;
}

@media (max-width: 550px) {
    .sidebar {
        padding: 0;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x: hidden;
        transition: 0.5s;
    }

    .burger {
        display: flex;
    }

    .right__panel {
        height: 100vh;
    }
}
